##############################################
######### POLYBAR ############################
##############################################


# Start i3bar to display a workspace bar (plus the system information i3status if available)
#exec_always --no-startup-id $HOME/.config/polybar/launch.sh
bar {
    font pango:Source Sans Pro-10 10
    status_command i3blocks
    position top

    strip_workspace_numbers yes
    separator_symbol "|"

    height 30


  colors {
    separator #268bd2
    background $transparent
    statusline #839496
    focused_workspace #fdf6e3 #6c71c4 #fdf6e3
    active_workspace #fdf6e3 #6c71c4 #fdf6e3
    inactive_workspace #002b36 #586e75 #002b36
    urgent_workspace #d33682 #d33682 #fdf6e3
  }
}

client.focused #6c71c4 #6c71c4 #fdf6e3 #6c71c4
client.focused_inactive #073642 #073642 #eee8d5 #6c71c4
client.unfocused #073642 #073642 #93a1a1 #586e75
client.urgent #d33682 #d33682 #fdf6e3 #dc322f


# hide/unhide i3status bar
bindsym $mod+m bar mode toggle
