# Start i3bar to display a workspace bar (plus the system information i3status if available)
bar {
	i3bar_command . /home/jimmy/.config/polybar/launch.sh
	# status_command i3status
	position top

## please set your primary output first. Example: 'xrandr --output eDP1 --primary'
#	tray_output primary
#	tray_output eDP1

	bindsym button4 nop
	bindsym button5 nop
	strip_workspace_numbers yes
	# font pango:Source Code Pro for Powerline, Bold, 10


#     colors {
#         background #222D31
#         statusline #F9FAF9
#         separator  #454947
#
# #                      border  backgr. text
#         focused_workspace  #F9FAF9 #16a085 #292F34
#         active_workspace   #595B5B #353836 #FDF6E3
#         inactive_workspace #595B5B #222D31 #EEE8D5
#         binding_mode       #16a085 #2C2C2C #F9FAF9
#         urgent_workspace   #16a085 #FDF6E3 #E5201D
#     }
}


client.focused #6c71c4 #6c71c4 #fdf6e3 #6c71c4
client.focused_inactive #073642 #073642 #eee8d5 #6c71c4
client.unfocused #073642 #073642 #93a1a1 #586e75
client.urgent #d33682 #d33682 #fdf6e3 #dc322f


# hide/unhide i3status bar
bindsym $mod+m bar mode toggle
