##############################################
######### COLORS  ############################
##############################################

set $black       #212121
set $darkblack   #000000
set $red         #fb4934
set $darkred     #cc241d
set $green       #b8bb26
set $darkgreen   #98971a
set $yellow      #fabd2f
set $darkyellow  #d79921
set $blue        #83a598
set $darkblue    #458588
set $magenta     #d3869b
set $darkmagenta #b16286
set $cyan        #8ec07c
set $darkcyan    #689d6a
set $white       #ebdbb2
set $darkwhite   #a89984
set $background  #000000
set $transparent #0000000F

set $i3_background      #2B2C2B
set $i3_text            #F9FAF9
set $i3_separator       #454947
set $i3_color1          #f9faf9
set $i3_color2          #595B5B
set $i3_color3          #353836
set $i3_color4          #16A085
set $i3_color5          #FDF6E3
set $i3_color6          #EEE8D5
set $i3_color7          #E5201D
set $i3_color8          #808380
set $i3_color9          #434745
set $i3_color10         #454948
set $i3_color11         #80FFF9
set $i3_color12         #FDF6E3
set $i3_color13         #CB4B16
set $i3_color14         #268BD2
set $i3_color15         #000000
set $i3_color16         #ffffff
set $i3_color17         #0c0c0c

set_from_resource     $color15_i3wmthemer       color15
set_from_resource     $color14_i3wmthemer       color14
set_from_resource     $color13_i3wmthemer       color13
set_from_resource     $color12_i3wmthemer       color12
set_from_resource     $color11_i3wmthemer       color11
set_from_resource     $color10_i3wmthemer       color10
set_from_resource     $color09_i3wmthemer       color9
set_from_resource     $color08_i3wmthemer       color8
set_from_resource     $color07_i3wmthemer       color7
set_from_resource     $color06_i3wmthemer       color6
set_from_resource     $color05_i3wmthemer       color5
set_from_resource     $color04_i3wmthemer       color4
set_from_resource     $color03_i3wmthemer       color3
set_from_resource     $color02_i3wmthemer       color2
set_from_resource     $color01_i3wmthemer       color1
set_from_resource     $color00_i3wmthemer       color0
set_from_resource     $foreground_i3wmthemer    foreground
set_from_resource     $background_i3wmthemer    background

set_from_resource $term_background background
set_from_resource $term_foreground foreground
set_from_resource $term_color0     color0
set_from_resource $term_color1     color1
set_from_resource $term_color2     color2
set_from_resource $term_color3     color3
set_from_resource $term_color4     color4
set_from_resource $term_color5     color5
set_from_resource $term_color6     color6
set_from_resource $term_color7     color7
set_from_resource $term_color8     color8
set_from_resource $term_color9     color9
set_from_resource $term_color10    color10
set_from_resource $term_color11    color11
set_from_resource $term_color12    color12
set_from_resource $term_color13    color13
set_from_resource $term_color14    color14
set_from_resource $term_color15    color15

# Theme colors
# class                   border  backgr. text    indic.   child_border
  client.focused          #556064 #556064 #80FFF9 #FDF6E3
  client.focused_inactive #2F3D44 #2F3D44 #1ABC9C #454948
  client.unfocused        #2F3D44 #2F3D44 #1ABC9C #454948
  client.urgent           #CB4B16 #FDF6E3 #1ABC9C #268BD2
  client.placeholder      #000000 #0c0c0c #ffffff #000000

  client.background       #2B2C2B
