
# Workspace names
set $ws1 "1: 爵"
set $ws2 "2: ﰩ"
set $ws3 "3: ﬑"
set $ws4 "4: ﵀"
set $ws5 "5: f"
set $ws6 "6: i"
set $ws7 "7: s"
set $ws8 "8: ﱘ"

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font xft:Source Code Pro for Powerline, Bold, 10
font pango:Source Code Pro for Powerline, Bold, 10
