##############################################
######### APPS  ############################
##############################################

# Start Applications
# start a terminal
bindsym $mod+Return exec terminal

# start program launcher
bindsym $mod+d exec --no-startup-id dmenu_recency

# launch categorized menu
bindsym $mod+z exec --no-startup-id morc_menu
bindsym $mod+Ctrl+b exec terminal -e 'bmenu'
bindsym $mod+F2 exec chromium
bindsym $mod+Shift+F2 exec firefox

bindsym $mod+F3 exec pcmanfm

bindsym $mod+Shift+F3 exec gksu pcmanfm
bindsym $mod+F5 exec terminal -e 'mocp'
#bindsym $mod+t exec --no-startup-id pkill compton
#bindsym $mod+Ctrl+t exec --no-startup-id compton -b

bindsym $mod+Shift+d --release exec "killall dunst; exec notify-send 'restart dunst'"

bindsym Print exec --no-startup-id i3-scrot
bindsym $mod+Print exec --no-startup-id exec deepin-screenshot


bindsym $mod+Ctrl+x --release exec --no-startup-id xkill
bindsym $mod+Ctrl+m exec terminal -e 'alsamixer'


# Lock screen
bindsym $alt+l exec --no-startup-id blurlock
bindsym $alt+t exec --no-startup-id blurlock -toggle; exec notify-send 'lock toggled'


# Autostart applications
#exec --no-startup-id xautolock -time 10 -locker blurlock
exec --no-startup-id xautolock -time 5 -locker /usr/bin/i3lock-fancy -detectsleep
exec --no-startup-id notify-send 'Hey Jimmy!'
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec --no-startup-id nm-applet
exec --no-startup-id xfce4-power-manager
exec_always --no-startup-id ff-theme-util
exec_always --no-startup-id fix_xcursor
exec --no-startup-id volumeicon
exec --no-startup-id udiskie
exec --no-startup-id pulseaudio
# exec --no-startup-id feh --bg-scale ~/Pictures/Space.png
exec --no-startup-id nitrogen --restore; sleep 1; compton -b
exec --no-startup-id pamac-tray
exec --no-startup-id clipit
exec --no-startup-id blueman


# Open applications on specific workspaces
# exec htop
# assign [class="htop"] $ws6
# assign [class="Pale moon"] $ws2
# assign [class="Pcmanfm"] $ws3


# Open specific applications in floating mode
for_window [title="alsamixer"] floating enable border pixel 1
for_window [class="Calamares"] floating enable border normal
for_window [class="Clipgrab"] floating enable
for_window [title="File Transfer*"] floating enable
for_window [class="Galculator"] floating enable border pixel 1
for_window [class="GParted"] floating enable border normal
for_window [title="i3_help"] floating enable sticky enable border normal
for_window [class="Lightdm-gtk-greeter-settings"] floating enable
for_window [class="Lxappearance"] floating enable sticky enable border normal
for_window [class="Manjaro-hello"] floating enable
for_window [class="Manjaro Settings Manager"] floating enable border normal
for_window [title="MuseScore: Play Panel"] floating enable
for_window [class="Nitrogen"] floating enable sticky enable border normal
for_window [class="Oblogout"] fullscreen enable
for_window [class="octopi"] floating enable
#fopulseaudio --startr_window [title="About Pale Moon"] floating enable
for_window [class="Pamac-manager"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [class="Shift+qt5ct"] floating enable sticky enable border normal
for_window [class="Shift+qtconfig-Shift+qt4"] floating enable sticky enable border normal
for_window [class="Simple-scan"] floating enable border normal
for_window [class="(?i)System-config-printer.py"] floating enable border normal
for_window [class="Skype"] floating enable border normal
for_window [class="Thus"] floating enable border normal
for_window [class="Timeset-gui"] floating enable border normal
for_window [class="(?i)virtualbox"] floating enable border normal
for_window [class="Xfburn"] floating enable
